div{
  font-size: 18px;
  color: green ;
}

/* 노멀라이징 */
*{
  padding:0;
  margin:0;
}

a{
  text-decoration:none;
  color:inherit;
}

ul,li{
  list-style:none;
}

/* 라이브러리 */
.cell{
  float:left;
}

.row::after{
  content: "";
  clear:both;
  display:block;
}

.cell-right{
  float:right;
}

.con{
  max-width:1200px;
  margin:0 auto;
}

/* 스타일 */

.top-bar{
  margin-top:10px;
  height:60px;
  background-color:darkgray;
  text-align:center;
  line-height:60px;
  position:relative;
}

.top-bar > .pageTitle{
  width:500px;
  color:white;
  font-size:2rem;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

table{
  border: 2px solid gray ;
  border-collapse: collapse;
  text-align: center;
  width:500px;
}

tr, td{
  background-color: #ddd;
  border: 2px solid white ;
  box-sizing: border-box;
}

th{
  background-color: gray;
  color:white;
  border:2px solid white;
  box-sizing: border-box;
}

textarea{
  width:500px;
  height:100px;
  resize:none;
}

.replyWriter{
  font-weight:bold;
}

.list-title{
  text-decoration:underline;
}

.heart-icon{
  color:red;
}