div{
  font-size: 18px;
  color: green ;
}

table{
  border: 2px solid gray ;
  border-collapse: collapse;
  text-align: center;
  width:500px;
}

tr, td{
  background-color: #ddd;
  border: 2px solid white ;
  box-sizing: border-box;
}

th{
  background-color: gray;
  color:white;
  border:2px solid white;
  box-sizing: border-box;
}

textarea{
  width:500px;
  height:100px;
  resize:none;
}

.replyWriter{
  font-weight:bold;
}
