div{
  font-size: 18px;
  color: green ;
}

/* 노멀라이징 */
*{
  padding:0;
  margin:0;
}

a{
  text-decoration:none;
  color:inherit;
}

ul,li{
  list-style:none;
}

/* 라이브러리 */
.cell{
  float:left;
}

.row::after{
  content: "";
  clear:both;
  display:block;
}

.cell-right{
  float:right;
}

.con{
  max-width:1200px;
  margin:0 auto;
}

/* 스타일 */

.top-bar{
  height:100px;
  background-color:black;
  text-align:center;
  line-height:100px;
}

.top-bar > .pageTitle{
  color:white;
  font-size:3rem;
}

table{
  border: 2px solid gray ;
  border-collapse: collapse;
  text-align: center;
  width:500px;
}

tr, td{
  background-color: #ddd;
  border: 2px solid white ;
  box-sizing: border-box;
}

th{
  background-color: gray;
  color:white;
  border:2px solid white;
  box-sizing: border-box;
}

textarea{
  width:500px;
  height:100px;
  resize:none;
}

.replyWriter{
  font-weight:bold;
}
